@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: rgb(56, 16, 16);
    color: white;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.background{
    background-color: rgb(85, 51, 51);
}
.cabecalho-menu{
    background-color: rgb(83, 41, 41);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 9999;
   
}   
nav{
    max-width: 1150px; /*Importante definir sempre um max-width*/
    margin: auto;/*definiu um margin e centralizou os itens*/
    display: flex; /*Alinhou o titulo e os links, porém os links continuaram embaixo do outro*/
    flex-wrap: wrap;/*O elemento era saiu da caixa dele, dai usamos wrap*/
    justify-content: space-between;/*colocou espaço entre os elementos*/
    align-items: center;
}

.titulo{
    font-family: Teko;
    font-size: max(20px, 3.0vw);
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.lista_menu{
    display: flex;
    flex-wrap: wrap;
    font-family: Montserrat;
    font-weight: 500;
}
.links_menu{
    padding: 10px 25px;
    color: white;
    text-transform: uppercase;
    font-size: max(9px, 1.1vw);
}
.Login_link{
    color: white;
    padding: 10px 25px;
    font-size: max(10px, 1.2vw);
    font-family: Montserrat;
    font-weight: 500;
   
}

.Linha_menu:hover, .links_menu:hover, .Login_link:hover{
    transform: scale(1.1);
    transition: .5s;
}

.container_anuncio{
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: auto auto;
    padding: 45px;
}
.conteudo_anuncio{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conteudo_anuncio hr{
    width: 45%;
}
.titulo1{
    font-family: Montserrat;
    font-size: max(10px, 4vw); /*4% da largura da pag*/
}
.titulo2{
    color: #C7BAB3;
    font-family: Inter;
    font-size: max(5px, 1.4vw);
    font-style: normal;
    width: 80%;
    
}
.Imagem_anuncio{
    display: flex;
    width: 100%;
}
.Imagem_anuncio img{
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 
    0 6px 20px 0 rgba(0,0,0,0.19);
}
.Imagem_anuncio img:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor:pointer;
}
.container_imagens{
    column-count: 3;
    padding: 3% 5% 0 5%;
    gap: 10px;
}

.container_imagens img{
    width: 100%;
    height: auto;
    margin-bottom: 3px ;
}
.container_imagens img:hover{
    cursor: pointer;
    
}

.titulo_produtos{
    padding: 5% 0 0 5%;
}
.titulo_produtos h2{
    font-family: Oswald;
    font-weight: 300;  
    font-size: max(12px, 1.8vw);
}
.section_Apresentacao{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
}
.Paragrafos{
    padding-left: 25%;
    padding-right: 25%;
}
.titulo1_apresentação{
    text-align: center;
    font-family: Teko;
    font-size: max(4vw, 15px);
    font-weight: 500;
    margin: 10px;
}
.titulo2_apresentação{
    font-family: Montserrat;
    font-weight: 500;
    font-size: max(6px, 1.2vw) ;
    margin-bottom: 10px;
    
}
.nome_empresa{
    color: rgb(0, 0, 0);
}

.footer_links{
    display: flex;
    flex-direction: column;
    gap: 25px;
   
}
.footer_links a{
    font-family: Montserrat;
    font-weight: 400;
    color: white;
    
}
.footer_links ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 10px;
}
.span_footer{
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;  
    font-size: max(8px, 1.2vw) ;
    margin-top: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.Creditos{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.Credito_imagens{
    margin: 10px;
    font-family: Montserrat;
    font-weight: 400;  
    font-size: max(6px, 1.2vw) ;
}
.link_footer{
    font-size: max(8px, 1.2vw) ;
}


.Imagem_produto{
    position: relative;
}

.botao_Filho{
    display: none;
    text-align: center;
    padding: 5px 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}

.link_botao{
    font-family: Montserrat;
    font-weight: 500;  
    font-size: max(8px, 1.2vw);
    color: rgb(255, 255, 255);
}

.icon{
    background-color: rgb(0, 0, 0);
    padding: 5px 8px;
    border-radius: 10px;
}
.icon2{
    background-color: rgb(0, 0, 0);
    padding: 5px 8px;
    border-radius: 10px;
}
.icon:hover{
    background-color: rgb(43, 43, 43);
}
.icons{
    display: none;
}
.Imagem_produto:hover .icons{
    display: flex;
    position: absolute;
    top: 10px;
    right: 15px;
    gap: 5px;
}
.botao_Filho:hover{
    background-color: rgb(43, 43, 43);
}
.Imagem_produto:hover .botao_Filho{
    display: flex;
    align-items: center;
}
.imagem_icon{
    display: flex;
    align-items: center;
    
}
.imagem_icon2{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 620px){
    nav{
        margin: 0;
    }
    .links_menu{
        padding: 5px 12px;
    }
    .Login_link{
        padding: 5px 12px;
    }
    .botao_Filho{
        padding: 2px 10px;
    }

    .Imagem_produto:hover .icons{
        display: none;
    }
}

@media only screen and (max-width: 369px){
    nav{
        flex-direction: column;
        justify-content: flex-start;
        
    }
    .links_menu{
        padding: 5px 10px;
        font-size: 12px;
    }
    .titulo{
        font-size: 25px;
    }
    .Login_link{
       display: none;
    }
    
    
}

