@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: rgb(56, 16, 16);
    color: white;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.cabecalho-menu{
    background-color: rgb(83, 41, 41);
    padding: 20px;
    
}   
nav{
    max-width: 1150px; /*Importante definir sempre um max-width*/
    margin: auto;/*definiu um margin e centralizou os itens*/
    display: flex; /*Alinhou o titulo e os links, porém os links continuaram embaixo do outro*/
    flex-wrap: wrap;/*O elemento era saiu da caixa dele, dai usamos wrap*/
    justify-content: space-between;/*colocou espaço entre os elementos*/
    align-items: center;
}
.titulo{
    font-family: Teko;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

.lista_menu{
    display: flex;
    flex-wrap: wrap;
}
.links_menu{
    padding: 10px 25px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}
.Login_link{
    color: white;
    padding: 5px 25px;
}

li:hover, a:hover{
    transform: scale(1.1);
    transition: .5s;
}

.background{
    background-color: rgb(85, 51, 51);
}
.container_anuncio{
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin: auto auto;
    padding: 45px;
}
.conteudo_anuncio{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conteudo_anuncio hr{
    width: 45%;
}
.titulo1{
    font-family: Montserrat;
    font-size: max(15px, 4vw); /*4% da largura da pag*/
}
.titulo2{
    color: #C7BAB3;
    font-family: Inter;
    font-size: max(5px, 1.4vw);
    font-style: normal;
    width: 80%;
    
}
.Imagem_anuncio{
    display: flex;
    width: 100%;
}
.Imagem_anuncio img{
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 
    0 6px 20px 0 rgba(0,0,0,0.19);
}
.Imagem_anuncio img:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}
.container_imagens{
    column-count: 3;
    padding: 3% 5% 0 5%;
    gap: 10px;
}
.container_imagens img{
    width: 100%;
    height: auto;
    margin-bottom: 3px ;
}
.container_imagens img:hover{
    transform: scale(1.05);
    transition: .2s;
}
.titulo_produtos{
    padding: 5% 0 0 5%;
}
.titulo_produtos h2{
    font-family: Oswald;
    font-weight: 300;  
}
.section_Apresentacao{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
}
.Paragrafos{
    padding-left: 25%;
    padding-right: 25%;
}
.titulo1_apresentação{
    text-align: center;
    font-family: Teko;
    font-size: max(4vw, 15px);
    font-weight: 500;
    margin: 10px;
}
.titulo2_apresentação{
    font-family: Montserrat;
    font-weight: 500;
    font-size: max(6px, 1.2vw) ;
    margin-bottom: 10px;
    
}
.nome_empresa{
    color: rgb(0, 0, 0);
}
/*
.Contato{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.titulo_contato{
    font-family: Teko;
    font-weight: 400;
    font-size: max(4vw, 15px);
    margin: 8px 0px 8px 0px;
}


.container{
    width: 100%;
    height: 80vh;
    display: flex;
}
.input_group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input{
    display:flex;
    flex-direction: column;
}
/*
/*Deixar responsivo o titulo dos produtos e menu*/